.element__like {
  width: 21px;
  height: 18px;
  border: none;
  background-image: url(../../../images/Like.svg);
  background-color: #fff;
  cursor: pointer;
}

.element__like:focus {
  outline: none;
}