.popup-image_is-opened {
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-property: visibility, opacity 0;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}