.popup-image__close {
  background: url(../../../images/Close-icon.svg);
  background-position: center;
  padding: 0;
  width: 41px;
  height: 41px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (max-width: 575px) {
  .popup-image__close {
    width: 30px;
    height: 30px;
    top: -32px;
    right: -32px;
  }
}