.profile__info {
  margin: 0;
  padding: 0;
  width: 552px;
  max-width: 100%;
}

@media screen and (max-width: 928px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}