.profile__info-edit {
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit\ Button.svg);
  border: none;
  align-self: center;
  box-sizing: border-box;
}

.profile__info-edit:hover {
  cursor: pointer;  
}

@media screen and (max-width: 1024px) {
  .profile__info-edit {
    max-width: 682px;
  }
}

@media screen and (max-width: 768px) {
  .profile__info-edit {
    max-width: 482px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
  }
}